@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: "Inter", "Inter-Medium", "Inter-SemiBold", "Inter-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
}

@layer components {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .font-sans {
    font-family: "Inter", "Inter-Medium", "Inter-SemiBold", "Inter-Bold", -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  .font-default {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  }
}
